<div class="col-lg-12">
  <div class="row pageTopper">
    <div class="col-lg-8">
      <span class="pageHeader">{{polish.brand}}: {{polish.name}}
      <button class="btn btn-warning btn-xs" ng-click="editPolish = ! editPolish">Edit Polish</button>
      <button class="btn btn-danger btn-xs" ng-click="deletePolish(polish)">Delete</button>
      </span>
    </div>
    <div class="col-lg-2 col-lg-offset-1 pageTopSmall">
      <form role="form" class="form-inline">
        <input class="col-lg-12 form-control block" type="text" ng-model="searchPolish" placeholder="Search..."/>
      </form>
    </div>
  </div>
  <br/>
  <br/>
  <form role="form" class="form-inline polishAddForm" name="polishForm" ng-show="editPolish">
    <div class="form-group">
      <label for="brand">Brand:</label>
      <input type="text" class="form-control" ng-model="polish.brand" required/>
    </div>
    <div class="form-group">
      <label for="collection">Collection:</label>
      <input type="text" class="form-control" ng-model="polish.collection" />
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" ng-model="polish.name" required/>
    </div>
    <div class="form-group">
      <label for="releaseYear">Release Year:</label>
      <input type="text" class="form-control" ng-model="polish.releaseYear">
    </div>
    <div class="form-group">
      <label for="code">Barcode/Stock Code:</label>
      <input type="text" class="form-control" ng-model="polish.code"/>
    </div>
    <div class="form-group">
      <label for="finish">Finish:</label>
      <input type="text" class="form-control" ng-model="polish.finish" required/>
    </div>
    <div class="form-group">
      <label for="color">Color:</label>
      <input type="text" class="form-control" ng-model="polish.color" required/>
    </div>
    <div class="form-group">
      <label for="photo">Photo Url:</label>
      <input type="text" class="form-control" ng-model="polish.photo"/>
    </div>
    <br/>
    <button class="btn btn-default btn-sm" type="submit" ng-click="updatePolish(polish); editPolish = ! editPolish">Submit Changes</button>
  </form>
  <div class="row">
    <h3>More Information</h3>
    <div class="col-lg-4">
      <img src="{{polish.photo}}">
    </div>
    <div class="col-lg-4">
      <br/>
      <b>Brand: </b>{{polish.brand}}<br/>
      <b>Collection: </b>{{polish.collection}}<br/>
      <b>Name: </b>{{polish.name}}<br/>
      <b>Release Year: </b>{{polish.releaseYear}}<br/>
      <b>Finish: </b>{{polish.finish}}<br/>
      <b>Color: </b>{{polish.color}}<br/>
      <b>Barcode/Stock Code: </b>{{polish.code}}<br/>
    </div>
  </div>
</div>

<button class="btn btn-success btn-xs" ng-click="addState = ! addState">Add State</button>

 <form role="form" class="form-inline stateAddForm" name="stateForm" ng-show="addState">
    <div class="form-group">
      <label for="condition">Condition:</label>
      <input type="text" class="form-control" ng-model="state.brand" required/>
    </div>
    <div class="form-group">
      <label for="swatched">Swatched:</label>
      <input type="text" class="form-control" ng-model="state.swatched" />
    </div>
    <div class="form-group">
      <label for="blog">Blog:</label>
      <input type="text" class="form-control" ng-model="state.blog" required/>
    </div>
    <div class="form-group">
      <label for="fill">Fill:</label>
      <input type="text" class="form-control" ng-model="state.fill">
    </div>
    <div class="form-group">
      <label for="thinned">Thinned:</label>
      <input type="text" class="form-control" ng-model="state.thinned"/>
    </div>
    <div class="form-group">
      <label for="box">Box:</label>
      <input type="text" class="form-control" ng-model="state.box" required/>
    </div>
    <div class="form-group">
      <label for="notes">Notes:</label>
      <input type="text-box" class="form-control" ng-model="state.notes" required/>
    </div>
    <div class="form-group">
      <label for="bottle_shot">Bottle Shot Url:</label>
      <input type="text" class="form-control" ng-model="state.bottle_shot"/>
    </div>
    <div class="form-group">
      <label for="mani_shot">Mani Shot Url:</label>
      <input type="text" class="form-control" ng-model="state.mani_shot"/>
    </div>
    <div class="form-group">
      <label for="original_owner">Original Owner:</label>
      <input type="text" class="form-control" ng-model="state.original_owner"/>
    </div>
    <div class="form-group">
      <label for="for_sale">For Sale:</label>
      <input type="text" class="form-control" ng-model="state.for_sale"/>
    </div>
    <div class="form-group">
      <label for="for_swap">For Swap:</label>
      <input type="text" class="form-control" ng-model="state.for_swap"/>
    </div>
    <div class="form-group">
      <label for="obtained">Obtained:</label>
      <input type="text" class="form-control" ng-model="state.obtained"/>
    </div>
    <div class="form-group">
      <label for="purchase_price">Purchase Price:</label>
      <input type="text" class="form-control" ng-model="state.purchase_price"/>
    </div>
    <br/>
    <button class="btn btn-default btn-sm" type="submit" ng-click="addPolishState(polish.id, state); addState = ! addState">Add State</button>
  </form>

 {{state}}




