<div class="col-lg-12">
  <div class="row pageTopper">
    <div class="col-lg-8">
      <span class="pageHeader">{{polish.brand}}: {{polish.name}}
      <button class="btn btn-warning btn-xs" ng-click="editPolish = ! editPolish">Edit Polish</button>
      <button class="btn btn-danger btn-xs" ng-click="deletePolish(polish)">Delete</button>
      </span>
    </div>
    <div class="col-lg-2 col-lg-offset-1 pageTopSmall">
      <form role="form" class="form-inline">
        <input class="col-lg-12 form-control block" type="text" ng-model="searchState" placeholder="Search..."/>
      </form>
    </div>
  </div>
  <br/>
  <br/>
  <div ng-include src="'polishes/partials/polish/edit_polish_form.html'"></div>
  <div class="row">
    <h3>More Information</h3>
    <div class="col-lg-4">
      <img ng-src="{{polish.url}}" class="img-responsive placeholder polishPicture" alt="thumbnail" />
    </div>
    <div class="col-lg-4">
      <br/>
      <b>Brand: </b>{{polish.brand}}<br/>
      <b>Collection: </b>{{polish.collection}}<br/>
      <b>Name: </b>{{polish.name}}<br/>
      <b>Release Year: </b>{{polish.releaseYear}}<br/>
      <b>Finish: </b>{{polish.finish}}<br/>
      <b>Color: </b>{{polish.color}}<br/>
      <b>Barcode/Stock Code: </b>{{polish.code}}<br/>
    </div>
  </div>
</div>
<div class="row">
  <button class="btn btn-success btn-xs" ng-click="addState = ! addState">Add State</button>
</div>
<div ng-include src="'polishes/partials/state/add_state_form.html'"></div>
<br/>
<br/>
<div class="row placeholders">
  <div ng-repeat="state in states[0] | filter: searchState" >
    <div class="col-xs-6 col-sm-3 placeholder">
      <span class="text-muted">
        Box:
          <span ng-show="state.box != null">Yes</span>
          <span ng-show="state.box == null">No</span>
        <br/>
        Condition: {{state.condition}}
        <br/>
        Size: {{state.size}} mL
        <br/>
        For Sale:
          <span ng-show="state.for_sale != null">Yes</span>
          <span ng-show="state.for_sale == null">No</span>
        <br/>
        For Swap:
          <span ng-show="state.for_swap != null">Yes</span>
          <span ng-show="state.for_swap == null">No</span>
        <br/>
      </span>
      <span ng-if="state.user_id == user.id">
        <button class="btn btn-warning btn-xs" ng-click="editState = ! editState">Edit</button>
        <button class="btn btn-danger btn-xs" ng-click="deletePolishState(polish.id, state)">Delete</button>
      </span>
    </div>
    <div ng-include src="'polishes/partials/state/edit_state_form.html'"></div>
  </div>
</div>
