<div class="col-lg-12">
  <div class="row pageTopper">
    <div class="col-lg-4">
      <span class="pageHeader">Hello {{user.username | uppercase}}</span>
    </div>
  </div>
</div>

{{collection}}

<div class="row placeholders">
  <div ng-repeat="polish in collection | filter: searchPolish" >
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>{{polish.name}}</h4>
      <img ng-src="{{polish.url}}" class="img-responsive" alt="thumbnail">
      <br/>
      <span class="text-muted">
        Brand: {{polish.brand}}
        <br/>
        Collection: {{polish.collection}}
        <br/>
        Release: {{polish.releaseYear}}
        <br/>
      </span>
      <button class="btn btn-info btn-xs" ng-click="show(polish)">Show</button>
      <span ng-if="user.admin">
        <button class="btn btn-danger btn-xs" ng-click="delete(polish)">Delete</button>
      </span>
    </div>
  </div>
</div>




