<form role="form" class="stateAddForm form-horizontal" name="stateForm" ng-show="addState">

    <div class="row">
      <div class="form-group">
        <label for="condition" class="control-label col-xs-2">Condition:</label>
        <div class="col-xs-2">
          <input type="text" class="form-control" ng-model="state.condition" required/>
        </div>

        <label for="swatched" class="control-label col-xs-2"> Swatched: </label>
        <div class="col-xs-4">
          <select  ng-model="state.swatched">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="wheel">Wheel</option>
            <option value="1 Finger">1 Finger</option>
            <option value="1/2 Mani">1/2 Mani</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="fill" class="control-label col-xs-2">Fill:</label>
        <div class="col-xs-2">
          <input type="text" class="form-control" ng-model="state.fill">
        </div>

        <label for="thinned" class="control-label col-xs-2">Thinned:</label>
        <div class="col-xs-4">
          <select  ng-model="state.thinned">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Unknown">Unknown</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="size" class="control-label col-xs-2">Size (in mL):</label>
        <div class="col-xs-2">
          <input type="number" class="form-control" ng-model="state.size" string-to-number/>
        </div>

        <label for="box" class="control-label col-xs-2">Box?</label>
        <label class="radio-inline">
          <input type="radio" value="yes" ng-model="state.box" /><span class="unbold">Yes</span>
        </label>
        <label class="radio-inline">
          <input type="radio" value="no" ng-model="state.box" /><span class="unbold">No</span>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="obtained" class="control-label col-xs-2">Obtained:</label>
        <div class="col-xs-2">
          <input type="text" class="form-control" ng-model="state.obtained"/>
        </div>

        <label for="original_owner" class="control-label col-xs-2">Original Owner?</label>
        <label class="radio-inline">
          <input type="radio" value="yes" ng-model="state.original_owner" /><span class="unbold">Yes</span>
        </label>
        <label class="radio-inline">
          <input type="radio" value="no" ng-model="state.original_owner"/><span class="unbold">No</span>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="purchase_price" class="control-label col-xs-2">Purchase Price:</label>
        <div class="col-xs-2">
          <input type="text" class="form-control" ng-model="state.purchase_price"/>
        </div>

        <label for="blog" class="control-label col-xs-2">Blogged?</label>
        <label class="radio-inline">
          <input type="radio" value="yes" ng-model="state.blog" /><span class="unbold">Yes</span>
        </label>
        <label class="radio-inline">
          <input type="radio" value="no" ng-model="state.blog"/><span class="unbold">No</span>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="for_sale" class="control-label col-xs-2">For Sale?</label>
        <span class="col-xs-2">
          <label class="radio-inline">
            <input type="radio" value="yes" ng-model="state.for_sale" /><span class="unbold">Yes</span>
          </label>
          <label class="radio-inline">
            <input type="radio" value="no" ng-model="state.for_sale"/><span class="unbold">No</span>
          </label>
        </span>
        <label for="for_swap" class="control-label col-xs-2">For Swap?</label>
          <label class="radio-inline">
            <input type="radio" value="yes" ng-model="state.for_swap" /><span class="unbold">Yes</span>
          </label>
          <label class="radio-inline">
            <input type="radio" value="no" ng-model="state.for_swap"/><span class="unbold">No</span>
          </label>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="bottleshot" class="control-label col-xs-2">Bottle Shot:</label>
        <div class="col-xs-2">
          <input type="file" ngf-select ng-model="state.bottleshot"/>
        </div>
        <!-- <label for="mani_shot" class="control-label col-xs-2">Mani Shot Url:</label>
        <div class="col-xs-2">
          <input type="text" class="form-control" ng-model="state.mani_shot"/>
        </div> -->
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="notes" class="control-label col-xs-2">Notes:</label>
        <div class="col-xs-5">
          <input type="text-area" class="form-control" ng-model="state.notes" required/>
        </div>
      </div>
    </div>

    <input type="hidden" name="user[polish_ids]" value="">

    <div class="row">
      <div class="col-xs-2 col-xs-offset-2">
        <button class="btn btn-success btn-sm" type="submit" ng-click="addPolishState(polish.id, state); addState = ! addState">Add My Polish</button>
      </div>
    </div>

  </div>
</form>